ising.pdf
literature
python/Images
python/Videos
python/Saves
python/save.npz
*__pycache__
latex/*/*.aux
latex/*/*.log
latex/*/*.nav
latex/*/*.out
latex/*/*.pdf
latex/*/*.snm
latex/*/*.synctex.gz
latex/*/*.toc
python/runs
python/simulation.npz
