ising.pdf
literature
python/Images
python/Videos
python/Saves
python/save.npz
*__pycache__
Phys760 Presentation/*.aux
Phys760 Presentation/*.log
Phys760 Presentation/*.nav
Phys760 Presentation/*.out
Phys760 Presentation/*.pdf
Phys760 Presentation/*.snm
Phys760 Presentation/*.synctex.gz
Phys760 Presentation/*.toc
python/runs
python/simulation.npz
